:root {
    --myGreen: #53ac4e;
    --myPink: #e180bd;
  }
h4 {
	color: var(--myPink, --myGreen); 
	text-align: left;
    /*added margin shorthand */
    margin: 100px 150px 175px 100px
	}
nav {
  background-color: rgb(227, 173, 230);
  /* added margin long hand */
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
